table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 7px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button {
    margin-right: 5px;
    width: 6rem;
    height: 2rem;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    margin-left: 10px;
  }
  
  div {
    margin: 20px;
  }
  body{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
  